/* Base */
body {
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

/* Logo */
.logo {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.logo span {
  color: #4d5ae5;
}

/* Header Navigation */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-list,
.contact-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-list a,
.contact-list a {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
