body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  color: #434455;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo span {
  color: #2e2f42;
}
.nav-links{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-links:hover {
  color: #404bbf;
}
.nav-links:focus{
  color: #404bbf;
} 
.contact-info{
  font-style: normal;
}
.contact-links {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-links:hover {
  color: #404bbf ;
}
.contact-links:focus {
  color: #404bbf;
}
.slogan-section {
  background-color: #2e2f42; 
}
.slogan{
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.slogan-order {
  background-color: #4D5AE5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.slogan-order:hover {
  background-color: #404BBF;
}
.slogan-order:focus {
  background-color: #404BBF;
}
